# Unit Test Report

Exit code: `0`

```text
......                                                                   [100%]
6 passed in 0.09s

```
